@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: black;
}
.section1{
    height: 55vh;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}
.heading{
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 10rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    background-image: url(../images/India1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: image_change 15s alternate infinite ease-in-out;
}
@keyframes image_change {
    
    0%{
        background-image: url(../images/India4.jpg);
    }
    50%{
        background-image: url(../images/India3.jpg);
    }
    100%{
        background-image: url(../images/India5.jpg);
    }
}

.subheading{
    color: #DBDBDB;
    font-size: 3rem;
}
.container{
    max-width: 80%;
    margin: auto;
    text-align: center;
}


  form{
    display: flex;
    margin-top: 30px;
    gap: 1rem;
    position: relative;

  }
  #search-img{
    height: 50px;
    width: 500px;
    background: transparent;
    border-radius: 5px;
    padding-left: 45px;
    box-shadow: inset 0 8px 60px rgba(229, 218, 241, 0.1),
                inset 0 8px 8px rgba(225, 217, 234, 0.1),
                inset 0 -4px 4px rgba(217, 209, 225, 0.1);
    border: 1px solid gray;
    font-size: 20px;
    transform: translateY(-2px);
    outline: none;
    color: white;

  } 
  form i{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 15px;
  } 

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images{
  columns: 5 340px;
  gap: 15px;
  max-width: 80%;
}

.images .card{
  display: flex;
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  overflow: hidden;
}
.images .card .details{
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: bottom 0.1s ease;
  background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
}
.images .card:hover .details{
  bottom: 0;
}
.images img:hover{
  cursor: zoom-in;
}
.photographer{
  color: white;
}
.photographer{
  font-size: 20px;
  margin-right: 10px;
}
.card .details button{
  padding: 3px 8px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.images img{
  width: 100%;
  border-radius: 5px;
}
.load-more{
  box-shadow: inset 0 8px 60px rgba(229, 218, 241, 0.1),
              inset 0 8px 8px rgba(225, 217, 234, 0.1),
              inset 0 -4px 4px rgba(217, 209, 225, 0.1);
  border: 1px solid gray;
  font-size: 20px;
  transform: translateY(-2px);
  height: 50px;
  border-radius: 5px;
  background: transparent;
  color: white;
  width: 120px;
  margin-top: 15px;
  cursor: pointer;
}

.lightbox{
  position: fixed;
  z-index: 5;
  background: rgba(0,0,0,0.65);
  width: 100%;
  height: 100%;
  left: 50%;
  margin-top: -1.4%;
  transform: translate(-50%,-65%);
  display: none;
}
.lightbox .wrapper{
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%,15%);
  background: rgba(255,255,255,1);
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  border-radius: 5px;
}
.wrapper .preview-img .img{
  max-height: 65vh;
  max-width: 90vh;
}
.preview-img .img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.preview-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.wrapper header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .photographer{
  color: #333;
}
header .photographer i{
  font-size: 20px;
}
header .photographer span{
  font-size: 20px;
}
header .buttons i{
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inline-block;
  background-color: rgb(69, 22, 151);
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.search{
  box-shadow: inset 0 8px 60px rgba(229, 218, 241, 0.1),
              inset 0 8px 8px rgba(225, 217, 234, 0.1),
              inset 0 -4px 4px rgba(217, 209, 225, 0.1);
  border: 1px solid gray;
  font-size: 20px;
  transform: translateY(-2px);
  height: 50px;
  border-radius: 5px;
  background: transparent;
  color: white;
  width: 120px;
  cursor: pointer;
}

@media screen and (max-width:1025px)  {
  .heading{
    text-align: center;
    font-size: 8rem;
  }
  .section1{
    text-align: center;
  }

}

@media screen and (max-width:769px)  {
  .gallery{
    margin-top: 5rem;
  }
  .heading{
    text-align: center;
    font-size: 7rem;
  }
  .section1{
    text-align: center;
  }

}

@media screen and (max-width:426px)  {
  .gallery{
    margin-top: 12rem;
  }
  .heading{
    text-align: center;
    font-size: 6rem;
    margin-left: 90px;
  }
  .section1{
    text-align: center;
  }
  form{
    margin-left: -165px;
    width: 100px;
  }
}